---
title: Welcome to Middleman
help_list:
  - {
      title: "a how to program your planck",
      target: "https://www.reddit.com/r/olkb/comments/tsmoy2/planck_layout_on_macos/",
  }
  - {
      title: "typing tests",
      target: "https://www.youtube.com/watch?v=fve-fuYkAkA",
  }
---

<h1>happy birthday</h1>

<% current_page.data.help_list.each do |link| %>
  <div>
    <%= link_to(link.title, link.target, target: "_blank") %>
  </div>
<% end %>
