---
title: Welcome to Middleman
---

<h1>happy birthday</h1>

<%= link_to(
  "a how to program your planck",
  "https://www.reddit.com/r/olkb/comments/tsmoy2/planck_layout_on_macos/",
  target: "_blank"
) %>
