<div class="links">
  <LinkTo @route="about">
    <FlightIcon @name="loading" /><span>about</span>
  </LinkTo>
  <LinkTo @route="contact">
    <FlightIcon @name="loading" /><span>contact</span>
  </LinkTo>
</div>

<h1>adam's collection of things</h1>
